<h1>Welcome to Nirma Forum</h1>
<p/><p/>
<p>Our mission is to share and grow the knowledge of all students of our college.
We want to democratize access to knowledge of all kindsfrom co curricular to ex-
tra curricular activity within Nirma University. if someone out there knows some-
thing, anyone else can learn it. This forum makes it easy to get your questions
answered, share your own knowledge, and browse the most interesting information
  people across the Nirma University want to share.</p>